<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Style Transfer</title>
</head>
<body>
    <input type="file" name="content-file" id="uploadContentImage" accept="image/*"/>
    <input type="file" name="style-file" id="uploadStyleImage" accept="image/*"/>
    <label for="uploadContentImage">
        Upload image 
    </label>
    <label for="uploadStyleImage">
        Upload image 
    </label>
    <form>
        <input type="text" name="content-uri" id="contentURI" style="visibility: hidden;">
        <input type="text" name="style-uri"  id="styleURI" style="visibility: hidden;">
        <input type="submit" id="submit-button" value="Predict!" formaction="http://127.0.0.1:5000/predict" formmethod="POST" disabled="true">
    </form>
    <br>
    <img id="uploadedContentImage" src="" alt="Choose Content Image"/>
    <img id="uploadedStyleImage" src="" alt="Choose Style Image"/>
    
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>